<a href="https://colab.research.google.com/github/SMenon-14/Terrestrial-Planets-Decision-Forests/blob/main/Data_Download.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from google.colab import files
from astropy.table import Column

In [ ]:
#Connect to Google Drive
from google.colab import drive
drive.mount ('/content/gdrive',force_remount=True)

In [ ]:
!pip install pre astroquery

from astroquery.ipac.nexsci.nasa_exoplanet_archive import NasaExoplanetArchive
#Create Qtable with HD 40307 to add rows for the other exoplanets to
exoplanets = NasaExoplanetArchive.query_object("HD 40307")
# List of a few known terrestrial exoplanets to create Training Set
nameList = ["Wolf 1061b", "Wolf 1061c", "Wolf 1061d", "Gliese 876 d", "Gliese 682 b", "Gliese 832 c", "82 G. Eridani b", "82 G. Eridani c", "82 G. Eridani d", "Gliese 581 e", "Gliese 581 c", "Gliese 581 d", "HD 219134 b", "Gliese 667 Cb", "Gliese 667 Cc", "61 Virginis b", "HD 85512 b", "GJ 180 b", "TRAPPIST-1", "55 Cancri e"]
#Iterate over exoplanets/exoplanet systems
for exoplanet in nameList:
  #Get qtable for exoplanet/exoplanet system
  temp = NasaExoplanetArchive.query_object(exoplanet)
  #Iterate over each row of temp Qtable 
  for row in temp:
    #Add each row to main Qtable
    exoplanets.add_row(row)

In [ ]:
#Print Qtable to view contents
exoplanets

In [ ]:
#View the names of each unique exoplanet in the Qtable
x = np.array(exoplanets["pl_name"])
exoplanet_names = np.unique(x)
exoplanet_names

In [ ]:
#Add a column to the Qtable to identify that these planets are terrestrial
newCol = []
for row in exoplanets:
  for y in range(len(exoplanets.colnames)):
    newCol.append("Terrestrial")
exoplanets.add_column(newCol)

In [ ]:
#View new col at the end of the table
exoplanets

In [ ]:
#Write the Qtable to a text file in drive
uploaded = '/content/gdrive/My Drive/Tensorflow Projects/Telescope Project/TrainSet.txt'
exoplanets.write(uploaded, format='csv', overwrite=True)

In [ ]:
#Create a file to hold the test set
uploaded = '/content/gdrive/My Drive/Tensorflow Projects/Telescope Project/FullCSV.txt'
#Create a Qtable to hold a list of Kepler objects for testing
exoplanets = NasaExoplanetArchive.query_object("Kepler-4")
#Add kepler objects with id's between 10-149 inclusive to Qtable
for x in range(10, 150):
  s = "Kepler-"+str(x)
  temp = NasaExoplanetArchive.query_object(s) 
  for row in temp:
    exoplanets.add_row(row)
#Upload Qtable to drive
exoplanets.write(uploaded, format='csv', overwrite=True)